*{
    margin: 0;
    padding: 0;
}
/* ______________________________________________________________ */
/* ______________________________________________________________ */
/* CSS START for header */
/* ______________________________________________________________ */
/* ______________________________________________________________ */
header{
    height: 100vh;
    background-color: rgba(16,15,22,255);

}
/* Section 1 inside of Header : contain presentation + photo */
/* ______________________________________________________________ */
#section1{
    display: flex;
    flex-direction: row;
}
/* setup background image for section 1 */
/* ______________________________________________________________ */
#backgroundImg{
    z-index: 98;
    content: "";
    background-image: url('../img/codeBG.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 3%;
}
/* description of myself */
/* ______________________________________________________________ */
#myself{
    height: 100vh;
    width: 50vw;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color : #ffff;
    font-family: 'Inconsolata', monospace;
}
#myself p{
    margin-bottom: 10px;
}
#myself #nom{
    width : 50vw;
    margin-bottom: 25px;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 1.5rem;
    box-shadow:  0 1px 0 0 rgba(19, 19, 19, 0.5) inset;
}
/* My photo */
/* ______________________________________________________________ */
#portrait{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#portrait img{
    max-width : 30vw;
    /* this line changes the form of the circle picture into and odd shape */
    padding-right: 100px; 
    border-radius:50%;
    filter: drop-shadow(2px 2px 10px #000)
}
/* ______________________________________________________________ */
/* ______________________________________________________________ */
/* Start of Body
SectionComp contains my skills */
/* ______________________________________________________________ */
/* ______________________________________________________________ */
.logoLanguage img{
    max-width: 80%;
    max-height: 60%;
    object-fit:contain;
}
.containerLogoLanguage{
    width: 22%;
    height: 49%;
    object-fit: fill;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #666565;
    margin: 1%;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    
}
.logoLanguage{
    width: 95%;
    height: 92%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    filter: drop-shadow(2px 2px 3px #000);
    --g: 1%;     /* the gap */
    --b: 12px;    /* border thickness*/
    --c: #AC3931; /* the color */


    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_v,125%) 100%,var(--_g2) 100% var(--_v, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    filter: grayscale(100%);
    transition: 0.2s;
}
.logoLanguage:hover{
    --_p: 75%;
    --_v: 75%;
    filter: grayscale(0%);
}
#sectionLanguage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 97vh;
    margin-bottom: 30px;
}
#sectionComp{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 400px;
}
#sectionComp h2{
    background-color: #B9D8C2;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}
/* Contain my Dev Skills */
/* ______________________________________________________________ */
#sectionCompDev{
    background-color: #9AC2C9;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
}
#sectionCompDevSub{
    background-color: #8AA1B1;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
}
#sectionCompDevSub h4{
    width: 40%
}
#sectionCompDevSub div{
    padding-left: 50px;
    width: 40%;
}
/* Contain my Social Skills */
/* ______________________________________________________________ */
#sectionCompSocial{
    background-color: #4A5043;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
}
#sectionCompSocialSub{
    background-color: #FFCB47;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
}
#sectionCompSocialSub h4{
    width: 40%
}
#sectionCompSocialSub div{
    padding-left: 50px;
    width: 40%;
}
ul, li{
    list-style: none;
}
table, th, td {
    border: 1px solid;
  }
